apiVersion: jetbrains.com/v1beta1
kind: TeamCity
metadata:
  name: teamcity-with-annotations
  namespace: default
  finalizers:
    - "teamcity.jetbrains.com/finalizer"
spec:
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/app/metrics'
    prometheus.io/port: '8111'
  image: jetbrains/teamcity-server
  replicas: 1
  startupPropertiesConfig:
    teamcity.startup.maintenance: "false"
    teamcity.licenseAgreement.accepted: "true"
    teamcity.firstStart.setupAdmin.enabled: "false"
  requests:
    cpu: "400m"
    memory: "1000Mi"
  dataDirVolumeClaim:
    name: teamcity-node-volume1
    annotations:
      pv.beta.kubernetes.io/gid: "1000"
    volumeMount:
      name: teamcity-node-volume1
      mountPath: /storage
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
  serviceList:
    - name: teamcity-with-annotations
      annotations:
        foo: bar
      spec:
        selector:
          app.kubernetes.io/name: teamcity-with-annotations
        ports:
          - protocol: TCP
            port: 8111
            targetPort: 8111
        clusterIP: None
  ingressList:
    - name: teamcity-with-annotations
      annotations:
        "nginx.ingress.kubernetes.io/affinity": "cookie"
      spec:
        ingressClassName: nginx
        rules:
          - host: teamcity-with-annotations.myteamcity.com
            http:
              paths:
                - backend:
                    service:
                      name: teamcity-with-annotations
                      port:
                        number: 8111
                  pathType: ImplementationSpecific