apiVersion: jetbrains.com/v1beta1
kind: TeamCity
metadata:
  name: teamcity-with-annotations
  namespace: default
  finalizers:
    - "teamcity.jetbrains.com/finalizer"
spec:
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/app/metrics'
    prometheus.io/port: '811'
  image: jetbrains/teamcity-server
  replicas: 1
  startupPropertiesConfig:
    teamcity.startup.maintenance: "false"
    teamcity.licenseAgreement.accepted: "true"
    teamcity.firstStart.setupAdmin.enabled: "false"
  requests:
    cpu: "400m"
    memory: "1000Mi"
  dataDirVolumeClaim:
    name: teamcity-node-volume1
    annotations:
      pv.beta.kubernetes.io/gid: "1000"
    volumeMount:
      name: teamcity-node-volume1
      mountPath: /storage
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi