# The following patch enables a conversion webhook for the CRD
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: teamcities.jetbrains.com
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          namespace: teamcity-operator-system
          name: teamcity-operator-webhook-service
          path: /convert
      conversionReviewVersions:
      - v1
